/*

 Author: Sam
 Email: Sam@example.com

 Creation Date: 2025-12-02 14:39:47
 Last Modification Date: 2025-12-02 14:39:48

 Another File Header is a Visual Studio Code extension to automatically or by command insert a header to your files.

*/